.card {
    color: black;
    background-color: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

     /*
    Challenge:
    Add padding to make our card look like
    the provided design */

    padding-top: 100px;
    padding-bottom: 0;
    padding-left: o;
    padding-right: 100px;

}