/*
Challenge:
Select the img tag and set the width 
of the Google logo to be 300px.
*/

/* Challenge: 
    Add some space (margin) above our image!
    Do you remember how we added spacing in the 
    cookie widget example?
    */

    /*
Challenge: 
Add some space between the logo 
and the search field.

What are the two different ways 
we can do this with margins?

*/


.main{
    margin-top: 100px;
}

.logo-img{
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}